{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="w-95 d-flex justify-content-center flex-wrap">
            <div class="w-100 p-2 border-bottom d-flex justify-content-between align-items-center">
                <h5 class="m-0 text-muted"><i class="fas fa-tag mr-1"></i>Categoría</h5>
                <div>
                    <a class="btn btn-secondary" href="/category"><i class="fas fa-chevron-left mr-1"></i>Volver</a>            
                    <label class="btn btn-success m-0" for="form_save"><i class="fas fa-save mr-1"></i>Guardar</label>
                </div>
            </div>
            <div class="w-90 p-2 d-flex justify-content-between align-items-center">
                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}
